/* Quitar márgenes y scroll del body */
html {
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Creepster', cursive;
    height: 100vh;
    overflow: hidden; /* evita que aparezca scroll */
    cursor: url('imagenes/knife.png') 4 4, auto;
    overflow-y: auto;
}

/* Video de fondo */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh; 
    object-fit: cover;
    z-index: -1;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;       
    background-color: black;
    padding: 20px;     
    box-sizing: border-box; 
}

/* Título del header */
header h2 {
    color: red;
    margin: 0;
}

/* Menú */
nav.menu ul {
    list-style: none;
    align-items: st;
    margin: 0;
    padding: 0;
}

nav.menu ul li {
    margin-left: 20px;
}

/* Enlaces del menú: rojo constante */
nav.menu ul li a:link,
nav.menu ul li a:visited,
nav.menu ul li a:hover,
nav.menu ul li a:active {
    color: red;
    text-decoration: none;
    font-family: 'Creepster', cursive;
    font-size: 1.5rem;
    text-shadow: 1px 1px 0 black;
}

/* Contenedor principal */
.contenido {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    text-align: center;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    box-sizing: border-box;
}

/* Texto de terror */
.terror {
    font-family: 'Creepster', cursive;
    color: red;
    font-size: 5rem;
    text-shadow: 2px 2px 0 black, 0 0 10px darkred, -2px -2px 0 black;
}

/* Botón de miedo */
.boton-miedo {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 40px;
    font-family: 'Creepster', cursive;
    font-size: 2rem;
    color: #ff0000;
    text-decoration: none;
    border: 3px solid #ff0000;
    border-radius: 10px;
    text-shadow: 2px 2px 0 black, 0 0 10px darkred;
    transition: all 0.3s ease;
}

.boton-miedo:hover {
    background-color: rgba(255,0,0,0.2);
    box-shadow: 0 0 20px red, 0 0 40px darkred;
    transform: scale(1.1) rotate(-2deg);
}


.contenedor-fichas {
            display: flex;
            gap: 20px;
            justify-content: center;
            padding: 20px;
}
.ficha-interactiva {
            width: 300px; 
            height: 200px; 
            
}

.ficha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombre-ficha {
  font-family: 'Creepster', cursive;
  color: red;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0 black, 0 0 10px darkred;
}

.redes {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.redes a {
  color: red;
  font-size: 1.8rem;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.redes a:hover {
  transform: scale(1.2);
  color: darkred;
}
